__pycache__
lnxlink_config/
config.yaml
*.egg-info
dist/
build/
.venv/
venv/
*.log
*.log.*
*test_*
lnxlink_uuid.txt

# Flatpak
repo/
.flatpak-builder

# Snap
.craft/
parts/
prime/
stage/
*.snap
snapcraft.yaml
snapcraft-*.txt
