[build-system]
requires = ["setuptools~=68.0.0", "wheel~=0.40.0"]
build-backend = "setuptools.build_meta"

[project]
name              = "lnxlink"
version           = "2023.12.0"
description       = "Internet Of Things (IOT) integration with Linux using MQTT"
readme            = "README.md"
keywords          = ["lnxlink"]
requires-python   = ">=3.7.0"
authors     = [
    {name="bkbilly", email="bkbilly@hotmail.com"}
]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: Unix",
]
dependencies = [
    "distro>=1.7.0",
    "PyYAML>=5.3.1",
    "paho-mqtt>=1.5.1",
    "dbus-python>=1.3.2",
    "requests>=2.28.1",
    "pyOpenSSL>=22.1.0",
    "jc>=1.23.0",
    "pgi>=0.0.11.2",
    "psutil>=5.8.0",
    "notify2>=0.3.1",
    "mpris2>=1.0.2",
    "dbus-idle>=2023.3.2",
    "ewmh>=0.1.6"
]


[project.urls]
"Source Code" = "https://github.com/bkbilly/lnxlink"
"Home Page"   = "https://bkbilly.github.io/lnxlink"

[tool.setuptools.packages.find]
include = ["lnxlink*"]

[project.scripts]
lnxlink = "lnxlink.__main__:main"
