[Unit]
Description=LNXLink
After=network-online.target

[Service]
Type=simple
Restart=always
User=root
WorkingDirectory=/opt/lnxlink
ExecStart=/usr/bin/python3 /opt/lnxlink/run.py

[Install]
WantedBy=default.target
